*{
margin: 0;
padding: 0;
}
body{
    line-height: 1.5;
    color: black;
    background-color: white;
}
a{
    text-decoration: none;
}
.container{
    width: 90;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

header{
    background-color: black;
    color: white;
    padding: 15px;
}
.logo{
    font-size: 50px;
    font-weight: 600;
    color: burlywood;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
nav ul li{
    margin-left: 20px;
}

nav a{
    color: white;
}
nav a:hover{
    color: orange;
}
#home{
    background: linear-gradient(rgba(0,0,0,0.5));
    padding: 100px;
    color: white;
    text-align: center;
}
#home h2{
    font-size: 40px;
}
#home span{
    color: rgb(88, 162, 227);
}
#home btn{
    margin-top: 20px;
    padding: 10px 20px;
    color: rgb(176, 195, 212);
    background-color: antiquewhite;
    display: inline-block;
}