#container{
    height: 500px;
    width: 500px;
    border: 10px solid brown;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    flex-direction: column;
    flex-direction: column-reverse;
    
}

.box{
    height: 30px ;
    width: 30px;
    border: 2px black solid;


}
