p{
   color: bisque; background-color: black;
}
#abc12{
color: blueviolet;
background-color: blanchedalmond;
}
.c1{

   color: beige;
   background-color: brown;
}
h5,h6{
   color: antiquewhite;
   background-color: aquamarine;
}